<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="src/output.css">
</head>
<body>
    <div class="flex items-center gap-1 bg-black">
  <div>
    <img src="https://i.ytimg.com/vi/tVzUXW6siu0/hqdefault.jpg?sqp=-oaymwEmCKgBEF5IWvKriqkDGQgBFQAAiEIYAdgBAeIBCggYEAIYBjgBQAE=&rs=AOn4CLB6VzxANxt3dHm91HW9lLfDlxvmuA" alt="" class="m-2.5 rounded-[10px]" />
  </div>
  <div class="flex w-[188] h-[114]">
  <div class="flex flex-col gap-3 self-baseline">
    <div class="text-xl font-semibold text-white">Installing VS Code & How Websites Work | Sigma Web Development Course - Tutorial #1</div>
    <div class="text-white flex ">
      <ul class="flex text-[15px]">
        <li>CodewithHarry</li>
        <li>4.8M views</li>
        <li>1 year ago</li>
      </ul>
    </div>
    </div>
  </div>
</div>

</body>
</html>