@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro", monospace;
}
body{
    background-color: #0D0D0D; 
  color: #39FF14; 
  text-shadow: 0 0 5px #39FF14, 0 0 10px #39FF14;
  line-height: 1.4;
  padding: 20px;
}
div{
    margin: 10px;
}
.dots {
  opacity: 0.2;
  color: #39FF14;
  font-weight: bold;
  animation: blink 1.5s infinite forwards;
}

.dots:nth-child(1) {
  animation-delay: 0s;
}

.dots:nth-child(2) {
  animation-delay: 0.5s;
}

.dots:nth-child(3) {
  animation-delay: 1s;
}

@keyframes blink {
  0%, 20%, 100% { opacity: 0.2; }
  10% { opacity: 1; }
}
